form {
  margin: 20px;
  background: #78789e;
  display: inline-block;
  color: white;
  padding: 10px;
  font-family: arial;
  border-radius: 9px;
}
form .column-label {
  font-family: arial;
}
form input {
  background: white;
  border: 0;
  height: 20px;
  border-radius: 3px;
  color: black;
  padding-left: 5px;
  margin-bottom: 10px;
  width: 150px;
}

.info-text {
  margin: 20px;
  background: #d4d47c;
  line-height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  color: black;
  font-family: arial;
  max-width: 700px;
}
